app = "skylight-studio"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  APP_URL = "https://skylight-studio.fly.dev"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "requests"
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1